.env
.vscode
venv/
instance/
OurTripKP.pem
*pycache*
*pytest_cache*
.firebaserc
bin/
firebase-debug.log
lib/
ui-debug.log
my_app/firebaseServiceAccountKey.json
firebase.json
Dockerfile
app.log
test_app.log
